FIREBASE_PROJECT_ID=civicmind-ctenucxj
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
SEED_USER_ID=demo-user
SEED_ACCESS_CODE=CIVIC-DEMO-001
