node_modules
dist
.firebase
.DS_Store
functions/lib
*.tsbuildinfo
vite.config.js
vite.config.d.ts
.env
.env.local
.env.*.local
.env.seeds
.env.seeds.local
functions/.env
functions/.env.*
firebase-debug.log
ui-debug.log
firestore-debug.log
functions-debug.log
